Drifter/media/decus10-manifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="decusProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="decusProject">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="decusNumber" type="xs:string" />
              <xs:element name="projectProgrammerNumber" type="xs:string" />
              <xs:element name="projectName" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="decusTapeName" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
